// .hamburger {
//     position: fixed;
//     top:0;
//     left: 0;
//     display: block;
//     width: 60px;
//     z-index: 99999;
// }

// super-tabs-toolbar {
//     padding-left: 60px;
// }


// COLORS
span.blue {
    color: #03a9f4;
}

// MENU
ion-menu ion-list button ion-icon:before {
    color:#40e3a4;;
}

ion-menu ion-list button:nth-child(-n+3) ion-icon:before {
    color:#03a9f4;
}

ion-menu ion-list button:last-child ion-icon:before {
    color:#000;
}

// TABS
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:not(.selected) {
    color: #000 !important;
}

super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:nth-child(-n+3){
    color: #03a9f4;
}

super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button:nth-child(n+4){
    color: #40e3a4;
}



// LOGIN PAGE
.login {
    background: #03a9f4;
    text-align: center;
}

.login h2 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px !important;
}

.login .button-md {
    background: #589f44 !important;
    font-size: 2rem;
    padding: 1.7em 1.3em;
    line-height: 1.2;
    border-radius: 10px;
    font-weight: bold;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}


// TABS
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button {
    text-transform: capitalize;
}

.button-md-primary {
    opacity: 0;
}

// Font Awesome
.fa-icons-general {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  
  // qr
  .ion-ios-fa-qrcode::before,
    .ion-ios-fa-qrcode-outline::before,
    .ion-md-fa-qrcode::before {
        @extend .fa-icons-general;
        content: "\f029";
    }
  // map
    .ion-ios-fa-map::before,
    .ion-ios-fa-map-outline::before,
    .ion-md-fa-map::before {
        @extend .fa-icons-general;
        content: "\f278";
    }
    // club
    .ion-ios-fa-club::before,
    .ion-ios-fa-club-outline::before,
    .ion-md-fa-club::before {
        @extend .fa-icons-general;
        content: "\f247";
    }
    // globe
    .ion-ios-fa-globe::before,
    .ion-ios-fa-globe-outline::before,
    .ion-md-fa-globe::before {
        @extend .fa-icons-general;
        content: "\f0ac";
    }
    // exchange
    .ion-ios-fa-exchange::before,
    .ion-ios-fa-exchange-outline::before,
    .ion-md-fa-exchange::before {
        @extend .fa-icons-general;
        content: "\f0ec";
    }
    // tip
    .ion-ios-fa-tip::before,
    .ion-ios-fa-tip-outline::before,
    .ion-md-fa-tip::before {
        @extend .fa-icons-general;
        content: "\f123";
    }
    // log-out
    .ion-ios-fa-logout::before,
    .ion-ios-fa-logout-outline::before,
    .ion-md-fa-logout::before {
        @extend .fa-icons-general;
        content: "\f08b";
    }